<meta charset="UTF-8">
<title>Play Nathair</title>
<!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, shrink-to-fit=no">
  <meta name="description" content="Play a snake style game and compare scores with your friends.">

<!-- Icons from Font Awesome -->
  <script src="https://kit.fontawesome.com/e7dc5a7f78.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">

