h1 {
  color: green;
}

.mainGame {
  background-color: rgba(30, 235, 255, 0.5);
}


@media (max-width: 500px) {

}

.content, .footer, .header{
  display: none;
}

.loader {
  background-color: #000000;
}

.loader img {
  height: 25%;
}

/* Footer */
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.footer a {
  text-decoration: none;
  color: green;
}

.footer i {
  color: #51ABD1;
  font-size: 1.4rem;
  margin-left: 5px;
}

.footer-credits {
  margin: 0 20px 0 20px;
  opacity: .7
}

.footer-credits:hover {
  opacity: 1;
}
